# Validated on macOS arm64 / Python 3.12.7. Install project with pip install -e .
alabaster==1.0.0
astropy-iers-data==0.2026.9.7.0.56.14
astropy==8.0.1
babel==2.18.0
bapsf_motion==2026.8.0
bapsflib==2026.4.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
docutils==0.22.4
h5netcdf==1.8.1
h5py==3.16.0
idna==3.19
imagesize==2.0.1
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.5.3
numpydoc==1.10.0
packaging==26.3
pandas==3.0.5
pluggy==1.6.0
pyerfa==2.0.1.5
Pygments==2.21.0
PyQt6-Qt6==6.11.2
PyQt6==6.11.0
PyQt6_sip==13.12.0
pyqtgraph==0.14.0
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
roman-numerals==4.1.0
scipy==1.18.1
six==1.17.0
snowballstemmer==3.1.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tomli_w==1.2.0
tqdm==4.70.0
urllib3==2.7.0
xarray==2026.7.0
